/* User Testing admin bar css*/
#wpadminbar .quicklinks #wp-admin-bar-pp_capabilities_test_user ul li .ab-item {
  height: auto;
}

.ppc-test-user-admin-bar-form .search-test-user {
  width: 280px !important;
  margin: 0 !important;
  padding: 0 8px !important;
  line-height: 2 !important;
  min-height: 30px !important;
  box-shadow: 0 0 0 transparent !important;
  border-radius: 4px !important;
  border: 1px solid #7e8993 !important;
  background-color: #ffffff !important;
  color: #32373c !important;
  font-size: 14px !important;
  box-sizing: border-box !important;
  vertical-align: top !important;
}

.ppc-test-user-admin-bar-form .search-test-user:focus {
  border-color: #007cba !important;
  box-shadow: 0 0 0 1px #007cba !important;
  outline: 2px solid transparent !important;
}

.ppc-test-user-admin-bar-form .test-user-btn {
  font-size: 13px !important;
  padding: 0 10px !important;
  min-height: 30px !important;
  border-width: 1px !important;
  border-radius: 3px !important;
  color: #0071a1 !important;
  border-color: #0071a1 !important;
  background-color: #f3f5f6 !important;
  line-height: 2 !important;
  box-sizing: border-box !important;
  vertical-align: top !important;
}

.ppc-test-user-admin-bar-form .test-user-btn:hover {
  background: #f1f1f1 !important;
  border-color: #016087 !important;
  color: #016087 !important;
}

.ppc-test-user-search-spinner {
  width: 20px !important;
  height: 20px !important;
  margin: 4px 10px 0 !important;
}

.test-user-btn span {
  line-height: 2 !important;
}

.ppc-test-user-search-response h2 {
  color: #E6A341 !important;
}
