# Docker container name
CONTAINER_NAME="publishpress-capabilities"

# Plugin metadata
PLUGIN_NAME="PublishPress Capabilities"
PLUGIN_TYPE="FREE"
PLUGIN_COMPOSER_PACKAGE="publishpress/publishpress-capabilities"

# Shared Docker images
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"
WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-6.9-php-8.5"
WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./dev-workspace-cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="capsman-enhanced"

# The domain of the plugin to be tested.
LANG_DOMAIN="capability-manager-enhanced"

# The directory of the language files.
LANG_DIR="languages"

LANG_LOCALES="de_DE es_ES fi fil fr_FR id_ID it_IT ja ko_KR nl_NL pt_BR ru_RU yor ca"
