.pp-capability-menus-wrapper.admin-columns #pp-capability-menu-wrapper,
.pp-capability-menus-wrapper.admin-columns #ppc-capabilities-wrapper {
    border: 0;
    box-shadow: none;
}

.pp-capability-menus-wrapper.admin-columns .ppc-capabilities-tabs ul {
    min-width: 200px;
}

.pp-capability-menus-wrapper.admin-columns .ppc-capabilities-tabs li {
    display: flex;
    justify-content: space-between;
}

.pp-capability-menus-wrapper.admin-columns .admin-columns-content code {
    float: right;
    color: #646970;
}

.pp-capability-menus-wrapper.admin-columns .admin-columns-footer {
    margin-top: 15px;
}

.pp-capability-menus-wrapper.admin-columns table .restrict-column {
    width: 55px;
    text-align: center;
}

