.pp-capability-roles-wrapper table th.column-count, 
.pp-capability-roles-wrapper table td.column-count {
    width: 74px;
    text-align: center;
}

.pp-capability-roles-wrapper .role-state,
.pp-capability-roles-wrapper .role-title-divider {
    color: #555;
}