#ppc-admin-notices-panel {
    position: fixed;
    top: 32px;
    right: -680px;
    width: 620px;
    height: calc(100vh - 32px);
    background: #1d2327;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 99999;
    overflow-y: auto;
    padding: 10px;
    transition: right 0.3s ease-in-out;
    scrollbar-color: rgb(51, 51, 51, 0.3) rgb(255, 255, 255);
    scrollbar-width: thin;
}

#ppc-admin-notices-panel.open {
    right: 0;
}

.ppc-admin-notices-toolbar-item.hidden {
    display: none !important;
}

#wpadminbar #wp-admin-bar-ppc-admin-notices-notices-panel {
    float: right;
}

#ppc-admin-notices-overlay {
    position: fixed;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100vh - 32px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 99998;
    display: none;
}

#wpadminbar .ppc-admin-notices-count .success-counter,
#wpadminbar .ppc-admin-notices-count .error-counter,
#wpadminbar .ppc-admin-notices-count .warning-counter,
#wpadminbar .ppc-admin-notices-count .info-counter {
    border-radius: 9px;
    background-color: #00a32a;
    color: #fff;
    font-size: 11px;
    padding: 4px 7px 4px 6px;
    margin-left: 2px;
    margin-right: 3px;
}

#wpadminbar .ppc-admin-notices-count .error-counter {
    background-color: #d63638;
}

#wpadminbar .ppc-admin-notices-count .warning-counter {
    background-color: #dba617;
}

#wpadminbar .ppc-admin-notices-count .info-counter {
    background-color: #72aee6;
}

.ppc-admin-notices-panel-content {
    padding-bottom: 20px;
}

.ppc-panel-notice-item {
    margin-bottom: 10px;
}

.ppc-panel-notice-item .notice {
    font-size: 14px;
    color: #3c434a;
    margin: 8px 0 !important;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
}

.ppc-panel-notice-item .notice p {
    font-size: 14px;
}

.ppc-panel-notice-item .ppc-notice-action {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid #e6e7ec;
    padding-top: 10px;
}

.ppc-admin-notices-panel-none.empty-notices-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.ppc-admin-notices-panel-none.empty-notices-message h4 {
    color: #a8a8a8;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.ppc-admin-notices-panel-none.empty-notices-message p {
    color: #a8a8a8;
    text-align: center;
    font-size: 16px;
    margin-top: 22px;
}

.ppc-admin-notices-panel-none.empty-notices-message svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    background-color: #a8a8a8;
    border-radius: 50%;
    margin-bottom: 10px;
    color: #8e8e8e;
}

.ppc-tool-tip {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.ppc-tool-tip .tool-tip-text {
    display: none;
    min-width: 250px;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    font-weight: normal;
    border-radius: 10px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
    color: #6f6f6f;
    font-size: 13px;
    padding: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%), 0 0 56px rgb(0 0 0 / 8%);
}

.ppc-tool-tip:not(.click-tooltip):hover .tool-tip-text,
.ppc-tool-tip.is-active .tool-tip-text {
    display: block;
}

.ppc-tool-tip .tool-tip-text i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.ppc-tool-tip .tool-tip-text i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}

.ppc-tool-tip.down-notice .tool-tip-text {
    top: 160%;
    transform: translateX(-50%);
}

.ppc-tool-tip.down-notice .tool-tip-text i {
    top: -12px;
}

.ppc-tool-tip.down-notice .tool-tip-text i::after {
    transform: translate(-50%, 50%) rotate(45deg);
}

#ppc-admin-notices-panel .admin-notices-tab {
    padding-left: 15px;
}

#ppc-admin-notices-panel .admin-notices-button-group {
    padding-left: 1px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 102%;
}

#ppc-admin-notices-panel .admin-notices-button-group label {
    display: inline-block;
    border: #7e8993 solid 1px;
    border-bottom: none;
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    background: #fff;
    margin: 0 0 0 -1px;
    flex: 1;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

#ppc-admin-notices-panel .admin-notices-button-group-border {
    border-top: #7e8993 solid 1px !important;
}

#ppc-admin-notices-panel .admin-notices-button-group label.selected {
    border-color: #00d084;
    background: #00d084;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

#ppc-admin-notices-panel .admin-notices-button-group label:first-child {
    border-radius: 3px 0 0 0;
}

#ppc-admin-notices-panel .admin-notices-button-group input {
    display: none !important;
}

#ppc-admin-notices-panel .hidden-element {
    display: none !important;
}

.ppc-panel-notice-item.whitelisted-notices-item .ppc-notice-action .action-item-wrap:has(a.blacklist),
.ppc-panel-notice-item.blacklisted-notices-item .ppc-notice-action .action-item-wrap:has(a.whitelist),
.ppc-shown-notice-item .ppc-notice-action .action-item-wrap:has(a.blacklist),
.ppc-shown-notice-item .ppc-tool-tip {
    display: none;
}

.ppc-shown-notice-item .ppc-notice-action {
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: right;
}

.action-item-wrap {
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 10px;
    font-size: 13px;
    color: #000;
    padding: 8px 10px;
}

.action-item-wrap:hover {
    background-color: #efefef;
}

.action-item-wrap:active {
    background-color: #fff;
}

.action-item-wrap a {
    text-decoration: none;
    color: #000;
}

.action-item-wrap a:hover {
    color: #395b8a;
}

.action-item-wrap a:active {
    color: #000;
}

.action-item-wrap a:focus {
    color: #000;
}


