

div.pp-capability-menus-wrapper-promo input.ppc-admin-menu-submit, 
div.pp-capability-menus-wrapper-promo select.ppc-admin-menu-role,
div.pp-capability-menus-wrapper-promo input.ppc-nav-menu-submit, 
div.pp-capability-menus-wrapper-promo select.ppc-nav-menu-role
{
filter: blur(2px);
}

#pp-capability-menu-wrapper {
border: inherit;
}

#pp-capability-menu-wrapper div.pp-capability-menus-promo {
height: 880px;
}

#pp-capability-menu-wrapper div.pp-capability-menus-promo-nav {
height: 370px;
}